* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* === HEADER === */
header {
  height: 100vh;
  width: 100%;
  background-image: url("../pictures/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  padding-top: 20vh;
  position: relative;
}

.logo {
  width: 50px;
}

header h1 {
  font-size: 54px;
  max-width: 583px;
  margin: 0 auto;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 30px;
}

header p {
  font-size: 15px;
  max-width: 583px;
  margin: 0 auto;
  margin-top: 35px;
  line-height: 1.933;
}

header > img {
  max-width: 23px;
  margin: 0 auto;
  position: absolute;
  top: 90vh;
}

/* === ABOUT === */

.about {
  text-align: center;
  color: #3c3c3c;
  height: 58vh;
  padding: 12vh 0;
}

.about .framed {
  height: 29vh;
}

.framed {      /*=== GLOBAL ===*/
  border: 1px solid #3c3c3c;
}

.framed h2 {      /*=== GLOBAL ===*/
  width: 22vw;
  background: white;
  margin: 0 auto;
  position: relative;
  top: -25px;
}

.framed p {        /*=== GLOBAL ===*/
  font-size: 16px;       /*change font size and padding for other screen size*/
  line-height: 24px;
  margin: 0 8vw;
}


/*=== CLEARFIX ===*/
.row::before,
.row::after {
  content: "";
  display: table;
  clear: both;
}


/*=== GRID ===*/

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 10px;  /*Ustalić  */
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-3 {margin-left: 25%;}
